.fake-browser {
  overflow: hidden;
}

.fake-browser-header {
  @include clearfix;
  background: #dadada;
  box-sizing: content-box;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 13px 15px;
}

.fake-browser-body {
  background: white;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 415px;
  overflow: hidden;
  position: relative;
}

.fake-browser-btn {
  background: black;
  border-radius: 50%;
  float: left;
  height: 11px;
  margin-right: 6px;
  width: 11px;
}

.fake-browser-close {
  background: #ec5c56;
}

.fake-browser-minimize {
  background: #f6bc3d;
}

.fake-browser-maximize {
  background: #62ca43;
}
