$height: 121px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $height + 60px;
}

.footer {
  border: 0;
  bottom: 0;
  height: $height;
  position: absolute;
  width: 100%;

  hr {
    border-color: #adadad;
    margin: 0;
  }

  .navbar-nav a {
    background: white !important;
    color: #adadad !important;
  }

  .navbar-nav {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  @media (min-width: $screen-sm) {
    .navbar-nav > li > a {
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
}

.navbar-footer {
  @include clearfix;
  padding: 25px 0;

  @media (min-width: $grid-float-breakpoint) {
    float: left;
  }
}
