.jumbotron {
  color: white;
  padding: 150px 0 0;
  position: relative;
}

.jumbotron h1 {
  font-weight: bold;
  line-height: 1.58;
  margin: 0;
}

.jumbotron-gallery {
  bottom: 0;
  height: 452px;
  position: absolute;
  width: 100%;
}
