body.proposals h3 {
  border-top: 1px solid #adadad;
  margin-top: 0;
  padding-top: 45px;
}

.proposal-description {
  h1,
  h2 {
    font-size: 38px;
  }

  h3,
  h4 {
    font-size: 28px;
  }

  h5,
  h6 {
    font-size: 22px;
  }

  h2,
  h4,
  h6 {
    border-bottom: 1px solid #adadad;
    padding-bottom: 1.3em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em 0 1.5em;
  }
}

.proposal-details {
  @include clearfix;
  color: #adadad;
  font-family: Rajdhani;
  font-weight: 600;
  line-height: 1;
  list-style: none;
  padding: 0;
  text-transform: uppercase;

  li {
    float: left;
  }

  .divider {
    background: #adadad;
    height: 20px;
    margin: 0 15px;
    width: 1px;
  }
}

.em {
  color: #ea1832;
}

.proposal-gallery-wrapper {
  background: #e8e8e8;
  padding: 60px 0 25px;
}

.proposals.show {
  .proposal-title {
    line-height: 1.3;
    margin-bottom: 0.2em;
  }

  .proposal-details {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .fake-browser-body {
    height: 515px;
    z-index: 16;
  }

  .proposal-gallery {
    height: auto;
    width: auto;
  }

  .carousel-indicators {
    bottom: 0;
    left: 0;
    margin: 20px auto 0;
    position: relative;
  }

  .carousel-indicators li {
    border-color: #ea1832;
    border-width: 2px;
  }

  .carousel-indicators .active {
    background: #ea1832;
  }

  .carousel-indicators li,
  .carousel-indicators .active {
    height: 12px;
    margin: 0;
    width: 12px;
  }

  .carousel-indicators li + li,
  .carousel-indicators li + .active {
    margin-left: 20px;
  }
}
