@font-face {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/rajdhani/rajdhani-bold-webfont.woff2') format('woff2'),
         url('/fonts/rajdhani/rajdhani-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Rajdhani';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/rajdhani/rajdhani-light-webfont.woff2') format('woff2'),
         url('/fonts/rajdhani/rajdhani-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/rajdhani/rajdhani-medium-webfont.woff2') format('woff2'),
         url('/fonts/rajdhani/rajdhani-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/rajdhani/rajdhani-regular-webfont.woff2') format('woff2'),
         url('/fonts/rajdhani/rajdhani-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/rajdhani/rajdhani-semibold-webfont.woff2') format('woff2'),
         url('/fonts/rajdhani/rajdhani-semibold-webfont.woff') format('woff');
}
