.team-member {
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

.team-member-image {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.team-member-name {
  font-size: 22px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.team-member-role {
  color: #adadad;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @include text-overflow;
}


.team-member-image {
  height: 100px;
  width: 100px;

  @include sm {
    height: 164px;
    width: 164px;
  }
}
