footer.navbar.footer(role='contentinfo')
  .container
    hr
    .navbar-footer
      a.navbar-brand(href=rootPath())
        img(src='/images/daoist_gray_logo.png' alt='Daoist' height='40' width='74')
    .navbar-collapse.collapse
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right
