footer.navbar.footer(role='contentinfo')
  .container
    hr
    .navbar-footer
      a.navbar-brand(href=rootPath())
        img(src='/images/daoist_gray_logo.png' alt='Daoist' height='40' width='74')
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='#twitter')
            img(src='/images/twitter_icon.png' alt='Daoist on Twitter' width='36' height='28')
      ul.nav.navbar-nav.navbar-right
