header.navbar.navbar-static-top(role="banner")
  .container
    .navbar-header
      a.navbar-brand(href=rootPath())
        img(src='/images/daoist_logo.png' alt='Daoist' height='40' width='74')
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href=newProposalPath()) Submit Proposal
