$font-family-base: Sailec;
$font-size-base: 22px;
$line-height-base: 1.81;
$text-color: #46485e;

$jumbotron-heading-font-size: 38px;
$headings-font-weight: bold;

$grid-gutter-width: 30px;
$container-desktop: 835px + $grid-gutter-width;
$container-large-desktop: $container-desktop;

$link-color: #ea1832;
$link-hover-color: $link-color;

$btn-font-weight: bold;
$btn-primary-bg: #ea1832;
$btn-primary-border: $btn-primary-bg;
$btn-border-radius-base: 10px;

$alert-warning-bg: white;
$alert-warning-border: $alert-warning-bg;
$alert-warning-text: $btn-primary-bg;
$alert-padding: 0;
