extends /layout
include /mixins/fake_browser
include /mixins/proposal_banner
include /mixins/proposal_gallery
include /mixins/gallery_nav

block content
  .jumbotron.jumbotron-inkpad
    .container
      .row
        .col-xs-10
          h1 The DAO is a new force for finance <span class='text-nowrap'>and funding</span> – find the best and <span class='text-nowrap'>brightest proposals</span> on Daoist.

    .jumbotron-gallery
      .container
        +gallery-nav
        +fake-browser
          +proposal-gallery
            +proposal-gallery-items
              each proposal, i in proposals
                a.item(href=proposalPath(proposal) class=(!i ? 'active' : ''))
                  img(src=(proposal.inkpad.metadata.image || 'http://placehold.it/835x415&text=' + proposal.get('title')) alt=proposal.get('title'))
                  +proposal-banner(proposal)

  .container
    .proposal-description
      != homepageInkpad
