extends /layout
include /mixins/fake_browser
include /mixins/proposal_banner

block content
  .jumbotron.jumbotron-inkpad
    .container
      .row
        .col-xs-10
          h1 The DAO is a new force for finance <span class='text-nowrap'>and funding</span> – find the best and <span class='text-nowrap'>brightest proposals</span> on Daoist.

    .jumbotron-gallery
      .container
        +fake-browser
          +proposal-banner('Inkpad – the independent platform for writers', 'idealogue', '$250,000', '2500')
          img(src='/images/inkpad_mock.jpg' alt='Inkpad' height='415' width='835')

  .container
    h3 What is Daoist?
    p
      Daoist is a platform for showcasing software project funding proposals via Decentralised Autonomous Organisations (DAO’s). Sounds complex, but it is really just like Kickstarter for decentralised projects. Daoist lets users easily browse and create proposals for new projects, as well as interact with DAOs and their communities. More info on DAOs can be found 
      = ' '
      a(href='#here') here
      |  and
      = ' '
      a(href='#here') here
      | .
