extends /layout

block content
  .jumbotron
    .container
      .row
        .col-xs-9
          h1 The DAO is a new force for finance and funding – find the best and brightest proposals on Daoist.

  .container
    h3 What is Daoist?
    p Daoist is a platform for showcasing software project funding proposals via Decentralised Autonomous Organisations (DAO’s). Sounds complex, but it is really just like Kickstarter for decentralised projects. Daoist lets users easily browse and create proposals for new projects, as well as interact with DAOs and their communities. More info on DAOs can be found 
    a(href='#here') here
    |  and
    = ' '
    a(href='#here') here
    | .
