mixin fake-browser
  .fake-browser
    .fake-browser-header
      .fake-browser-btn.fake-browser-close
      .fake-browser-btn.fake-browser-minimize
      .fake-browser-btn.fake-browser-maximize
    .fake-browser-body
      block
