mixin gallery-nav
  .jumbotron-gallery-nav
    a.arrow-link.arrow-link-left.prev(href='#proposal-gallery' role='button' data-slide='prev')
      img(src='/images/left_arrow_icon.png' alt='')
    a.arrow-link.arrow-link-right.next(href='#proposal-gallery' role='button' data-slide='next')
      img(src='/images/right_arrow_icon.png' alt='')
