mixin proposal-banner(project)
  - var data = proposals[project];
  .proposal-banner
    .proposal-banner-title= data.title
    .proposal-banner-details
      span.proposal-author by #{data.author}
      = '|'
      span.proposal-funding
        = data.funding
