mixin proposal-gallery(project)
  #proposal-gallery.proposal-gallery.carousel.slide(data-ride='carousel')
    .carousel-inner(role='listbox')
      each url, i in proposals[project].foreground_images
        .item(class=(i === 0 ? 'active' : ''))
          img(src=url alt='Inkpad')
