mixin proposal-gallery
  #proposal-gallery.proposal-gallery.carousel.slide(data-ride='carousel')&attributes(attributes)
    block

mixin proposal-gallery-items
  .carousel-inner(role='listbox')
    block

mixin proposal-badge
  .container.proposal-badge-container
    .proposal-badge
      .proposal-badge-text A Daoist  <span class='text-nowrap'>DAO Project</span>
