mixin proposal-banner(proposal)
  - var meta = proposal.inkpad.metadata;
  .proposal-banner
    .proposal-banner-title= meta.title
    .proposal-banner-details
      span.proposal-author by #{meta.by}
      if meta.funding
        = '|'
        span.proposal-funding
          = meta.funding
